* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: black;
    padding: 5vw;
}

button {
    padding: 1em 2em;
    background-color: transparent;
    border: .01em solid cyan;
    color: cyan;
    font-weight: 600;
    transition: all linear 0.5s;
    position: relative;
    overflow: hidden;
}

button::after {
    content: "";
    height: 50px;
    width:50px;
    border-radius: 50%;
    background-color: cyan;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: all linear 0.5s;
    z-index: -1;
}

button:hover::after {
    transform: translate(-50%,-50%) scale(4);
}

button:hover {
    color: black;
}