* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Gilroy';
    src: url('https://cdn.jsdelivr.net/gh/repalash/gilroy-free-webfont@fonts/Gilroy-Extrabold.eot');
    src: local('Gilroy Extrabold'), local('Gilroy-Extrabold'),
        url('https://cdn.jsdelivr.net/gh/repalash/gilroy-free-webfont@fonts/Gilroy-Extrabold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/repalash/gilroy-free-webfont@fonts/Gilroy-Extrabold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/repalash/gilroy-free-webfont@fonts/Gilroy-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-family: 'Monument';
    src: url('./monumentextended-freeforpersonaluse/MonumentExtended-FreeForPersonalUse/MonumentExtended-Regular.otf')format('opentype');
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
    position: relative;
    padding: 1px;
}

#nav {
    height: 12vh;
    width: 100%;
    margin-top: 40px;
    border-top: 2px solid #000;
    /* background-color: red; */
    border-bottom: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 50px; */
}

#nav h1 {
    /* background-color: burlywood; */
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    font-family: monument;
    justify-content: center;
    font-size: 30px;
    letter-spacing: 5px;
}

#nav h2 {
    /* background-color: burlywood; */
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid black;
    font-weight: 600;
    font-size: 26px;
}

#nav h2:nth-last-child(2) {
    width: 29%;
}

#nav h2:nth-last-child(1) {
    width: 10%;
    /* background-color: red */
}

#center {
    height: 90%;
    width: 100%;
    /* background-color: aquamarine; */
    padding: 4vw;
    position: relative;
}

#content {
    /* background-color: cornflowerblue; */
    height: 100%;
    width: 100%;
    position: relative;
}

#content video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#overlay {
    height: 5 0%;
    width: 100%;
    position: absolute;
    bottom: 0;
    /* background-color: red; */
    padding: 3vw;
    color: #fff;
}

#over1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2vw;
}

#over1 h1 {
    font-family: monument;
    font-size: 3.6vw;
    /* font-weight: 100; */
    mix-blend-mode: difference;
}

#over1 h2 {
    font-size: 1vw;
    padding: 2vw 2.2vw;
    /* background-color: blue; */
    border-radius: 50%;
    border: 2px solid #fff;
}

#over2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #fff;
}

#over2 h4 {
    font-size: 1.3vw;
    font-weight: 500;
}

#over2 img {
    height: 3vw;
    padding: 1.3px;
}