* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#box {
    width: 20vw;
    height: 40vh;
    background-color: blueviolet;
    border-radius: 50%;
    position: absolute;
    animation-name: move;
    animation-duration: 5s;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

#box img {
    position:relative;
    width: 40vw;
    object-fit: cover;

}


@keyframes move {
    from {
        left: 30vw;
        rotate: 0deg;
        top:10vh;
        background-color: blueviolet;
    }
   
    25%{
        left:80vw;
        top:10vh;
        image-orientation:from-image;
    }
    50%{
        left:80vw;
        top:80vh;
    }
    to {
        left: 10vw;
        rotate:360deg;
        /* motion-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); */
        top:80vh;
        background-color: darkgray;
    }
}